<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyi.web.mapping.SpiderMapperInterface">
	<insert id="insertNewUrl" parameterType="com.liuyi.web.model.SpiderWaitQueue">
		insert into spider_waitqueue (id,father_url, url, isdownload,downpath,isanalysis,type,create_time)
		values (#{id,jdbcType=CHAR},#{fatherUrl}, #{url,jdbcType=VARCHAR},#{isDownload,jdbcType=INTEGER},#{downpath},
		#{isanalysis},#{type},#{createTime})
	</insert>
	<update id="updateDownloadUrl" parameterType="com.liuyi.web.model.SpiderWaitQueue" >
	    update spider_waitqueue
	    <set >
	      <if test="url != null" >
	        url = #{url,jdbcType=VARCHAR},
	      </if>
	      <if test="isDownload != null" >
	        isdownload = #{isDownload,jdbcType=INTEGER},
	      </if>
	      <if test="downpath != null" >
	        downpath = #{downpath},
	      </if>
	      <if test="isanalysis != null" >
	        isanalysis = #{isanalysis,jdbcType=INTEGER},
	      </if>
	      <if test="type != null" >
	        type = #{type,jdbcType=INTEGER},
	      </if>
	      <if test="updateTime != null" >
	        update_time = #{updateTime},
	      </if>
	    </set>
	    where url = #{url,jdbcType=CHAR}
	 </update>
	 <select id="selectWaitUrl" resultType="String" >
	    select DISTINCT 
	    url
	    from spider_waitqueue
	    where isdownload=0
	    limit 0,1
	 </select>
	 <select id="selectByUrl" resultType="Integer" >
	    select count(1) from spider_waitqueue where url=#{url}
	 </select>
	 <insert id="insertHtmlMessage" parameterType="com.liuyi.web.model.HtmlMessage">
		insert into html_message (id, url, type,keywords,editor,title,article_create_time,
		article_source,article_content,create_time)
		values (#{id,jdbcType=CHAR},#{url},#{type},#{keywords},#{editor},
		#{title},#{articleCreateTime},#{articleSource},#{articleContent},#{createTime})
	 </insert>
</mapper>